<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<title>IECSE Registrations</title>

<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<script src ="../static/js/jquery.js"></script>
<script src ="../static/js/index.js"></script>
<script>if (window.module) module = window.module;</script>
<script src="https://use.fontawesome.com/426ef538fa.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/index.css">


</head>
<body>
	<div class="header">
	<a href="/">
		<i class="fa fa-home" id="upload" aria-hidden="true"></i>&nbsp
		</a>
	IECSE Registrations</div>

	<div class="container">
		
		<span id="create"> Create New Event </span>
		
		<br><br>

		<span id="register"> Register users for an event</span> <br>
		<ol>
			{% for k in all_events %}
				<li> <span class="verify" id="{{k[0]}}"> {{k[0]}}</a> <br></li>

			{% endfor %}
		</ol>
		<br>

		<span id ="viewusers"> View registered users </span> <br>
		<ol>
			{% for k in all_events %}
				<li> <span class="view" id="{{k[0]}}"> {{k[0]}}</a> <br></span></li>
			{% endfor %}
		</ol>
	</div>
</body>
</html>


