<html>
<head>
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<script src ="../static/js/jquery.js"></script>
<script src="../static/js/makevent.js"></script>
<script>if (window.module) module = window.module;</script>
</head>

<body>
<div class="add panels">
        <div class="add-form-button">Add Event</div>
        <div class="jumbotron add-form-box">
            <div class="add-form-meta">
                <input name="eventname" class="add-form-meta-eventname" placeholder="eventname"> <br>
                <input name="eventpasskey" class="add-form-meta-eventpasskey" placeholder="eventpasskey">
            </div>
            <div class="add-form-fields">
                <div class="add-form-options">
                    <div class="add-form-option add-form-option-textbox">
                        <i class="fa fa-plus"></i> Textbox
                    </div>
                    <div class="add-form-option add-form-option-checkbox">
                        <i class="fa fa-plus"></i> Checkbox
                    </div>
                    <div class="add-form-option add-form-option-radiobutton">
                        <i class="fa fa-plus"></i> Radio Button
                    </div>
                </div>
                <div class="add-form-fields-construct">
                </div>
            </div>
        </div>
        <input id="send" type="submit" name="submit">
</div>
<form id = "senderform" action='/make/event' method='POST'>
    <input type="hidden" id="sender" name= 'sender'>
</form>
</body>

