<html>
	<head>
		<title>Testing</title>
		 <script src ="/static/js/jquery.js"></script>
	</head>
	<body>
		<h1>Register for {{eventname}}</h1>

		<form name ="registerform" id="registerform" action="{{url_for('register',eventname=eventname)}}" method='POST'>

		{%for k in data%}
			<br>
			{%if k.type == "textbox"%}
			<label>{{k.label}}</label>
				<input type="text" name='{{k.label}}' id = 'textbox' required class="form-element form-textbox" />
			{%endif%}
			{%if k.type == "checkbox"%}
			<label>{{k.label}}</label>
			{%set list1 = k.vals.split(",")%}
				{%for l in list1%}
				<input type="checkbox" name='{{k.label}}' value={{l}} required class="form-element form-checkbox">{{l}}
				{%endfor%}
			{%endif%}
			{%if k.type == "radiobutton"%}
			<label>{{k.label}}</label>
			{%set list1 = k.vals.split(",")%}
				{%for l in list1%}
				<input type="radio" name = '{{k.label}}' value='{{l}}' required class="form-element form-radiobutton">{{l}}
				{%endfor%}
			{%endif%}
		{%endfor%}
		<br>
		<input type="submit" name="submit" value="submit" id='send'>
		</form>

		<form name="senderform" id ="senderform" action="{{url_for('register',eventname=eventname)}}" method='POST'>
    	<input type="hidden" id="sender" name='sender'>
		</form>

		<script>	
			var formdata=[];
			$(document).ready(function()
			{
				$( "#registerform" ).submit(function( event ) {
					var obj = {}
				  	$.each($( this ).serializeArray() , function(k,v){ 	
				  	obj[v.name]=v.value;
				  });
				event.preventDefault();
 				formdata=JSON.stringify(obj);
 				document.getElementById('sender').value= formdata;
        		$("#senderform").submit();
			});
		});

		</script>
	</body>
</html>