<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<title>View</title>
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script src ="../static/js/jquery.js"></script>

<!-- Insert this line after script imports -->
<script>if (window.module) module = window.module;</script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<!-- <link rel="stylesheet" href ="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" type="text/css"> -->

<style>
	
tr:nth-child(even) 
{
	background-color: #ffffff;
}

</style>
</head>
<body>



	<input type="text" name="search" id="search">

	<table id="usertable" style="width:100%">
	  
	  <tr>
	  {% for k in data %}
		<th align="left"> {{k.label}} </th>	
	  {% endfor %}
	  </tr>
	  
	  {% for k in all_users %}
	  	<tr>
		    {% for l in k %}    	
		    	<td> {{l}} </td>
		    {% endfor %}
		</tr>
	 {% endfor %}
	</table>

	<script>
	$(document).ready(function() {
		var table= $('#usertable').dataTable();

		$('#search').on('keyup', function() {
			table.search(this.value).draw();
		});
	});


	</script>

</body>
</html>
